modules = ["web", "nodejs-20", "python-3.11"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "server"

[[workflows.workflow]]
name = "server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "daphne -b 0.0.0.0 -p 5000 logistics_platform.asgi:application"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36703
externalPort = 3000

[[ports]]
localPort = 39499
externalPort = 3003

[[ports]]
localPort = 44817
externalPort = 3002

[[ports]]
localPort = 45477
externalPort = 3001

[nix]
channel = "stable-25_05"
